<header class="header">

	<div class="header-wrapper">
		<h1 class="title">
			Féminisme en forme&middot;s
		</h1>
	</div>

	<div id="menu-burger">
		<div class="picto burger actived">
			<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M21 11V13H3V11H21Z" fill="currentColor" />
				<path d="M21 6V8H3V6H21Z" fill="currentColor" />
				<path d="M21 16V18H3V16H21Z" fill="currentColor" />
			</svg>
		</div>

		<div class="picto cross">
			<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M18.5899 3.99994L20.0041 5.41415L5.41421 20.0041L4 18.5898L18.5899 3.99994Z"
					fill="currentColor" />
				<path d="M20.0041 18.5899L18.5899 20.0041L3.99997 5.41421L5.41418 4L20.0041 18.5899Z"
					fill="currentColor" />
			</svg>
		</div>
	</div>

	<nav class="menu">
		<ul class="main-menu">
			<li class="item">
				<a href="#" class="link" id="manifeste">Manifeste</a>
			</li>

			<li class="item">
				<span class="link" id="manifester"> Manifester <span class="icone">
					<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M9.06055 4L17.0605 12L9.06055 20L7.64648 18.5859L14.2324 12L7.64648 5.41406L9.06055 4Z" fill="currentColor" />
					</svg>
				</span></span>

				<ul class="sub-menu">
					<li class="item">
						<a href="#" class="slogan" id="pute">Ni&nbsp;putes, ni&nbsp;soumises</a>
					</li>
					<li class="item">
						<a href="#" class="slogan" id="fils">Éduquez vos&nbsp;fils</a>
					</li>
					<li class="item">
						<a href="#" class="slogan" id="vigilente">Restez vigilentes</a>
					</li>
				</ul>
			</li>

			<li class="item">
				<a href="#" class="link" id="collectif">Collectif</a>
			</li>
		</ul>

	</nav>
</header>
