@use "_variables" as *;
@use "_functions" as *;
@use "_mixins" as *;


// Reset
body{
	margin: 0;
	background-color: $fake-white;
	font-family: "Syne", sans-serif;
	font-size: clamp(10px, pxToVw(16), 22px);

}

a{
	&:link, &:visited, &:hover, &:active{
		text-decoration: none;
		color: initial;
	}
}

ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

button{
	font-family: inherit;
}

// Stylisation du texte
.bold{
	font-weight: 700;
}

// Début du style
.main{
	position: relative;
	width: 100%;
	box-sizing: border-box;
	margin: pxToEm(82) 0;
	padding: 0 pxToEm(30);

	.labeur{
		font-size: pxToEm(18);
		line-height: 1.35;
		margin: 0 0 pxToEm(15);
	}

	.cta-container{
		margin: 0;
		width: 100%;
		text-align: center;
	}

	.cta{
		display: inline-block;
		font-size: pxToEm(24);
		padding: pxToEm(15, 24) pxToEm(45, 24);
		border-radius: 0;
		font-weight: 600;
		text-transform: uppercase;
		background-color: $jaune;
		border: solid pxToEm(1.5, 24) $title-black;
		color: $title-black;
		margin-top: 1.5em;

		&:hover, &:active{
			background-color: $title-black;
			color: $fake-white;
			cursor: pointer;
		}
	}

	.extern-link{
		font-weight: 700;
		position: relative;

		&::after{
			content: "";
			height: pxToEm(1.5);
			width: 100%;
			position: absolute;
			bottom: 0;
			left: 0;
			background-color: $title-black;
		}

		&:hover, &:active{
			background-color: $title-black;
			color: white;
		}

		.ext-icon{
			display: inline-block;
			position: relative;
			top: 0.15em;
			height: 0.9em;
			width: 0.7em;
			
			svg{
				height: 100%;
				width: 130%;
			}
		}
	}

	.manifeste, .collectif{
		width: 100%;
	}
}

@media screen and (min-width: map-get($breakpoints, "desk")){
	body{
		font-size: clamp(14px, pxToVw(16, "desktop"), 22px);
	}

	.main{
		margin: pxToEm(200) auto pxToEm(60);
		padding: 0 pxToEm(110);
		max-width: 1920px;

		.labeur{
			font-size: pxToEm(24);
		}

		.cta{
			font-size: pxToEm(32);
			padding: pxToEm(20, 32) pxToEm(60, 32);
			margin-top: 1em;
		}

		.manifest{
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: pxToEm(40);
		}

		.collectif{
			margin: auto;
			max-width: pxToEm(590);
		}

	}
}