@use "_variables" as *;
@use "_functions" as *;
@use "_mixins" as *;


// Reset
body{
	margin: 0;
	background-color: $fake-white;
	font-family: "Syne", sans-serif;
	font-size: clamp(10px, pxToVw(16), 22px);

}

a{
	&:link, &:visited, &:hover, &:active{
		text-decoration: none;
		color: initial;
	}
}

ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

// Stylisation du texte
.bold{
	font-weight: 700;
}

// Début du style
.main{
	position: relative;
	width: 100%;
	box-sizing: border-box;
	margin-top: pxToEm(82);
	padding: 0 pxToEm(30);

	.manifest{
		.labeur{
			font-size: pxToEm(18);
			line-height: 1.35;
			margin: 0 0 pxToEm(15);
		}
	}

	.cta-container{
		margin: 0;
		width: 100%;
		text-align: center;
	}

	.cta{
		display: inline-block;
		font-size: pxToEm(24);
		padding: pxToEm(15, 24) pxToEm(45, 24);
		border-radius: 0;
		font-weight: 600;
		text-transform: uppercase;
		background-color: $jaune;
		border: solid pxToEm(1.5, 24) $title-black;
		margin-top: 1.5em;
	}
}

@media screen and (min-width: map-get($breakpoints, "desk")){
	body{
		font-size: clamp(14px, pxToVw(16, "desktop"), 22px);
	}

	.main{
		margin: pxToEm(240) auto 0;
		padding: 0 pxToEm(110);
		max-width: 1920px;

		.manifest{
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: pxToEm(40);

			.labeur{
				font-size: pxToEm(24);
			}
		}

		.cta{
			font-size: pxToEm(32);
			padding: pxToEm(20, 32) pxToEm(60, 32);
			margin-top: 1.5em;
		}
	}
}